.Root {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ButtonContainer {
    position: relative;
    top: 2cm;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 50%;
    height: 5cm;
}

.Button {
    background: none;
    border: none;
    font-size: 40px;
    font-family: inherit;
}

.Button:hover {
    text-decoration: underline;
    text-decoration-color: #EB5757;
}
