.Header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 10cm;
    background-image: url('../../images/header_image.jpg');
    background-size: 100%;
    background-repeat: no-repeat;
    font-family: inherit;
}

.HeaderTextBox {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 10cm;
    height: 3cm;
    border-radius: 2%;
    background-color: #00000099;
}

.HeaderText {
    font-size: 50px;
    color: lightgray;
    
}

.Slogan {
    font-size: 26px;
    color: lightgray;
}